.footer-container {
  width: 100%;
  background-color: #444444;
}

.info {
  color: #f4f4f4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0;
  margin: 0 auto;
}

.foot-logo {
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.logo img {
  width: 90px;
  height: 90px;
  margin-bottom: 2rem;
}

footer p {
  margin-bottom: 16px;
}

.para p {
  width: 100%;
}

.useLink,
.company,
.social-media {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.links p {
  margin-bottom: 2rem;
  font-size: 24px;
  font-weight: bold;
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
  margin-bottom: 8px;
}

ul li a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  transition: color 0.3s ease;
}

ul li a:hover {
  color: #1da1f2; /* Change to match brand or hover color */
}

/* Adjustments for company section list items */
.company ul li {
  margin-bottom: 5px;
}

/* Social Media Icons */
.social-icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.icons a {
  text-decoration: none;
}

.social-icon i {
  font-size: 1.2em;
}

.social-icon:hover i.fa-instagram {
  color: #e4405f; /* Instagram color */
}

.social-icon:hover i.fa-facebook-f {
  color: #1877f2; /* Facebook color */
}

.social-icon:hover i.fa-twitter {
  color: #1da1f2; /* Twitter color */
}

/* Copyright Section */
.copyright {
  width: 100%;
  height: 60px;
  background-color: #0f0f0f;
}

.copy {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 35px;
}

.copy p {
  color: #4f4f4f;
  margin: 0;
  font-size: 17px;
}

/* Responsive Adjustments */
@media (max-width: 980px) {
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
  }

  .useLink,
  .company,
  .social-media,
  .foot-logo {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }
}
