*{
  padding: 0;
  font-family:arial,sans-serif;
}
.banner{
  position: relative;
}

.slider {
  position: relative;
  overflow: hidden;
}

.learnhero{
  display: none; 
  width: 100%;
  height: 350px;
  background-size: cover;
}
.learnhero.active {
  display: flex; 
}
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 28px;
  color:#dddddd;
}
.prev {
  left: 10px;
}

.next {
  right: 10px;
}
.information {
  margin-left: 300px;
  margin-top: 130px;
  background-color: #eeeeee;
  width: 30%;
  height: 30%;
  padding:30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  .information h2{
    margin-bottom:14px;
    font-weight: 700;

  }

  .information h2:hover,
  .information h2:focus{
   color:rgb(29, 151, 151);
  }

  .information a{
    color:rgb(29, 151, 151);
    text-decoration: none;
  }

  .information a:hover{
    color:rgb(29, 151, 151);
    text-decoration: underline;
  }